[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
seaborn = "*"

[dev-packages]
pyarrow = "*"
pylint = "*"
pystan = "==2.19.1.1"
pytest = "*"
rope = "*"

[requires]
python_version = "3.8"
